*.class

# Package Files #
*.jar
*.war
*.ear

/.DS_Store

/target/shib_shim/

/target/

/shabti-shim-libs/target/

/shabti-shim-war/target/

/shabti-shim-war/shabti-shim-war.iml

/.idea
.idea/*
*.iml
/shib_shim.iml
/demo/frontend/certs/*.pem
