*.class

# Package Files #
*.jar
*.war
*.ear

/.DS_Store

/.idea/workspace.xml

/target/shib_shim/

/target/

/shabti-shim-libs/target/

/shabti-shim-war/target/

/shabti-shim-war/shabti-shim-war.iml

/.idea/copyright/profiles_settings.xml
/.idea
*.iml
/shib_shim.iml
